<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatble" content="ie=edge" />
	<title>Paving Services</title>
	<link href="../images/favicon.png" rel="icon" />
	<link href="../images/favicon.ico" rel="shortcut icon" />
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="../fonts/fonts.css" rel="stylesheet" />
	<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="../css/ion.rangeSlider.min.css" rel="stylesheet" type="text/css" />
	<link href="../css/lightcase.css" rel="stylesheet" type="text/css" />
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
	<link href="../css/night-mode.css" rel="stylesheet" type="text/css" />
	<link href="../css/responsive.css" rel="stylesheet" type="text/css" />
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
	<div class="services_page_body">
		<header class="main_header">
			<% if(currentUser) { %>
				<nav class="navbar navbar-expand-sm navbar-dark topbar align-items-center">
								<form class="form-inline mx-auto mr-sm-3 mb-2 mb-sm-0 ml-sm-0">
									<select class="form-control form-control-sm">
										<option>English</option>
										<option>Spanish</option>
									</select>
								</form>
								<div class="main_logo_for_mobile ml-auto">
									<a href="../members/index-members.html"><img src="../images/gabazzo_logo_white.png" alt="" /></a>
								</div>
								<ul class="navbar-nav mx-auto mr-sm-0 align-items-center text-center flex-row">
									<li class="night_mode_image"><a href="javascript:void(0)" class="night_mode_icon"></a></li>
									<li class="nav-item my_account my_account_for_desktop mx-2">
										<a class="nav-link" id="myAcActionLink" href="javascript:void(0)">
											<% if (currentUser.isCompany === true) { %>
												<img src="<%= currentUser.logo %>" class="profile-photo" alt="">
												<% } else if (currentUser.isCompany === false) { %>
													<img src="<%= currentUser.profilePicture %>" class="profile-photo" alt="">
											<% } %>	My Account
										</a>
									</li>
								</ul>
							</nav>
							<nav class="navbar navbar-expand-lg navbar-light middlebar">
								<a class="navbar-brand main_logo_for_desktop text-dark" href="../members/index-members.html" target="_self">
									<img src="../images/gabazzo_logo_black.png" class="img-fluid gabazzo_logo black_logo" alt="" />
									<img src="../images/gabazzo_logo_white.png" class="img-fluid gabazzo_logo white_logo" alt="" />
								</a>

								<div class="services_menu_bar">
									<button class="navbar-toggler services_responsive_bar border-0" type="button" data-toggle="collapse" data-target="#responsive-bar">
										<div class="animated-icon1"><span></span><span></span><span></span> <b class="">Services</b></div>
									</button>
								</div>

								<div class="members_menu_bar">
									<ul class="navbar-nav mx-auto mr-sm-0 align-items-center text-center flex-row">
										<li class="nav-item my_account_for_mobile">
											<a class="nav-link" id="myAcActionLinkMB" href="javascript:void(0)">
												<% if (currentUser.isCompany === true) { %>
													<img src="<%= currentUser.logo %>" style="width:30px;" class="profile-photo" alt="">
													<% } else if (currentUser.isCompany === false) { %>
														<img src="<%= currentUser.profilePicture %>" style="width:30px;" class="profile-photo" alt="">
												<% } %>											</a>
										</li>
										<li>
											<button class="navbar-togglerr" type="button" data-toggle="collapse" data-target="#navb">
												<div class="animated-icon2"><span></span><span></span><span></span></div>
											</button>
										</li>
									</ul>
								</div>

								<div class="collapse nav_item_wrap navbar-collapse" id="navb">
									<form class="form-inline mr-auto main_search_bar_desktop" autocomplete="off" action="/pages"
										method="POST">
										<div class="search_bar autocomplete">
											<input id="myInput" name="service" type="text" placeholder="Search...." />
											<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
										</div>
									</form>
									<ul class="navbar-nav ml-auto">
										<!-- Messages -->
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Messages</a>
											<div class="dropdown-menu messages_dropdown">
												<div class="header">
													<i class="fa fa-comment-o" aria-hidden="true"></i> Inbox
												</div>

												<ul class="scrolling_item">
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 title">
																	<h5>Username</h5>
																	<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
																	<div class="time">
																		<h6 class="">53m</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 title">
																	<h5>Username</h5>
																	<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
																	<div class="time">
																		<h6 class="">53m</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 title">
																	<h5>Username</h5>
																	<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
																	<div class="time">
																		<h6 class="">53m</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 title">
																	<h5>Username</h5>
																	<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
																	<div class="time">
																		<h6 class="">53m</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 title">
																	<h5>Username</h5>
																	<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
																	<div class="time">
																		<h6 class="">53m</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 title">
																	<h5>Username</h5>
																	<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
																	<div class="time">
																		<h6 class="">53m</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 title">
																	<h5>Username</h5>
																	<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
																	<div class="time">
																		<h6 class="">53m</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 title">
																	<h5>Username</h5>
																	<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
																	<div class="time">
																		<h6 class="">53m</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 title">
																	<h5>Username</h5>
																	<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
																	<div class="time">
																		<h6 class="">53m</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 title">
																	<h5>Username</h5>
																	<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
																	<div class="time">
																		<h6 class="">53m</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 title">
																	<h5>Username</h5>
																	<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
																	<div class="time">
																		<h6 class="">53m</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 title">
																	<h5>Username</h5>
																	<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
																	<div class="time">
																		<h6 class="">53m</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
												</ul>
												<div class="tabsss_footer">
													<div class="row">
														<div class="col-6">
															<ul class="icon">
																<li><a href="javascript:void(0)"><i class="fa fa-volume-up" aria-hidden="true"></i></a></li>
																<li><a href="javascript:void(0)"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
															</ul>
														</div>
														<div class="col-6 see_all">
															<a href="members-inbox.html" target="_self">See All In Inbox</a>
														</div>
													</div>
												</div>
											</div>
										</li>
										<!-- Messages -->

										<!-- Notifications -->
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Notifications</a>
											<div class="dropdown-menu notification_down messages_dropdown">
												<div class="header">
													<div class="row">
														<div class="col-5">
															<h5>Notifications</h5>
														</div>
														<div class="col-7">
															<ul>
																<li><a href="javascript:void(0)">Mark All as Read</a></li>
																<li><a href="javascript:void(0)">Setting</a></li>
															</ul>
														</div>
													</div>
												</div>

												<ul class="scrolling_item">
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 not_title related_photo">
																	<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
																	<div class="time">
																		<h6 class="hit">2h</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 not_title">
																	<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
																	<div class="time">
																		<h6 class="">2h</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 not_title">
																	<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
																	<div class="time">
																		<h6 class="emoji">2h</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 not_title related_photo">
																	<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
																	<div class="time">
																		<h6 class="hit">2h</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 not_title">
																	<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
																	<div class="time">
																		<h6 class="others">2h</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 not_title related_photo">
																	<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
																	<div class="time">
																		<h6 class="hit">2h</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 not_title">
																	<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
																	<div class="time">
																		<h6 class="">2h</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 not_title">
																	<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
																	<div class="time">
																		<h6 class="emoji">2h</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 not_title related_photo">
																	<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
																	<div class="time">
																		<h6 class="hit">2h</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="javascript:void(0)">
															<div class="row">
																<div class="col-2 user_pic">
																	<img src="../images/man.png" class="img-fluid" alt="" />
																</div>
																<div class="col-10 not_title">
																	<h5>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.</h5>
																	<div class="time">
																		<h6 class="others">2h</h6>
																	</div>
																</div>
															</div>
														</a>
													</li>
												</ul>
												<div class="notification_down_footer">
													<div class="text-cen see_all">
														<a href="notifications.html" target="_self">See All Notifications</a>
													</div>
												</div>
											</div>
										</li>
										<!-- Notifications -->

										<li class="nav-item"><a href="saved-list.html" class="nav-link">Saved List</a></li>
									</ul>
								</div>
							</nav>

						<!-- My Account SideMenu For Desktop -->
		<div class="" id="myAcContents">
				<div id="dismissMyAcActionLink">
					<i class="fa fa-times" aria-hidden="true"></i>
				</div>
				<div class="my_account_menu">
					<div class="top_part">
						<% if (currentUser.isCompany === true) { %>
						<img src="<%= currentUser.logo %>" class="profile-photo" alt="">
						<% } else if (currentUser.isCompany === false) { %>
							<img src="<%= currentUser.profilePicture %>" class="profile-photo" alt="">
						<% } %>
						<div class="profile_name">Hi <%= currentUser.username %></div>
					</div>
					<div class="bottom_part">
						<ul>
							<li><a href="/member-profile/<%= currentUser._id %>" target="_self"><i class="fa fa-fw fa-user"></i><span>View Profile</span></a></li>
							<li><a href="/company-settings/account"><i class="fa fa-fw fa-cog"></i><span>Settings</span></a></li>
							<li><a href="../footer-pages/help-center-buyer.html"><i class="fa fa-fw fa-comments"></i><span>Buyer Help Center</span></a></li>
							<li><a href="/logout" target="_self"><i class="fa fa-fw fa-power-off"></i><span>Logout</span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- My Account SideMenu For Desktop -->

			<!-- My Account SideMenu For Mobile -->
			<div class="" id="myAcContentsMB">
				<div id="dismissMyAcActionLinkMB">
					<i class="fa fa-times" aria-hidden="true"></i>
				</div>
				<div class="my_account_menu">
					<div class="top_part">
						<% if (currentUser.isCompany === true) { %>
							<img src="<%= currentUser.logo %>" class="profile-photo" alt="">
							<% } else if (currentUser.isCompany === false) { %>
								<img src="<%= currentUser.profilePicture %>" class="profile-photo" alt="">
						<% } %>						<div class="profile_name">Hi <%= currentUser.username %></div>
					</div>
					<div class="bottom_part">
						<ul>
							<li><a href="/member-profile/<%= currentUser._id %>" target="_self"><i class="fa fa-fw fa-user"></i><span>View Profile</span></a></li>
							<li><a href="ps-account.html"><i class="fa fa-fw fa-cog"></i><span>Settings</span></a></li>
							<li><a href="../footer-pages/help-center-buyer.html"><i class="fa fa-fw fa-comments"></i><span>Buyer Help Center</span></a></li>
							<li><a href="/logout" target="_self"><i class="fa fa-fw fa-power-off"></i><span>Logout</span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- My Account SideMenu For Mobile -->

			<% } else { %>
				<nav class="navbar navbar-expand-sm navbar-dark topbar align-items-center">
					<form class="form-inline mx-auto mr-sm-3 mb-2 mb-sm-0 ml-sm-0">
						<select class="form-control form-control-sm">
							<option>English</option>
							<option>Spanish</option>
						</select>
					</form>
					<div class="main_logo_for_mobile ml-auto">
						<a href="/"><img src="../images/gabazzo_logo_white.png" alt="" /></a>
					</div>

					<ul class="navbar-nav mx-auto mr-sm-0 align-items-center text-center flex-row">
						<li class="night_mode_image"><a href="javascript:void(0)" class="night_mode_icon"></a></li>
					</ul>
				</nav>

				<nav class="navbar navbar-expand-lg navbar-light middlebar">
					<a class="navbar-brand main_logo_for_desktop text-dark" href="/" target="_self">
						<img src="../images/gabazzo_logo_black.png" class="img-fluid gabazzo_logo black_logo" alt="" />
						<img src="../images/gabazzo_logo_white.png" class="img-fluid gabazzo_logo white_logo" alt="" />
					</a>

					<div class="services_menu_bar">
						<button class="navbar-toggler services_responsive_bar border-0" type="button" data-toggle="collapse"
							data-target="#responsive-bar">
							<div class="animated-icon1"><span></span><span></span><span></span> <b class="">Services</b>
							</div>
						</button>
					</div>

					<div class="members_menu_bar">
						<ul class="navbar-nav mr-sm-0 align-items-center text-center flex-row">
							<li>
								<button class="navbar-togglerr" type="button" data-toggle="collapse" data-target="#navb">
									<div class="animated-icon2"><span></span><span></span><span></span></div>
								</button>
							</li>
						</ul>
					</div>

					<div class="collapse nav_item_wrap navbar-collapse" id="navb">
						<form class="form-inline mr-auto main_search_bar_desktop" autocomplete="off" action="/pages"
							method="POST">
							<div class="search_bar autocomplete">
								<input id="myInput" name="service" type="text" placeholder="Search...." />
								<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
							</div>
						</form>

						<% if(!currentUser) { %>
							<ul class="navbar-nav member_menu_portion_for_desktop ml-auto">
								<li class="nav-item">
									<a class="nav-link" href="/become-a-seller-overview">Become a Seller</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/login">Sign In</a>
								</li>
								<li class="nav-item">
									<a class="nav-link btn btn-outline-gbz-success join_butotn" href="/sign-up">Join</a>
							</ul>

						<% } %>
					</div>
				</nav>

		<% } %>

			<nav class="navbar main_navbar navbar-expand-lg bottombar">
				<div class="collapse nav_item_wrap navbar-collapse" id="responsive-bar">
					<ul class="nav navbar-nav">
						<li class="nav-item dropdown mega-dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Outdoor
								Work</a>
							<div class="dropdown-menu mega-dropdown-menu shadow">
								<div class="container">
									<h5 class="footer-title text-dark text-center">Outdoor Work</h5>
									<ul class="row link_with_image list-unstyled text-center">
										<li class="col-md-2">
											<img src="../images/outdoor-work/Roofing.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/roofing-services">Roofing Services</a></p>
										</li>
										<li class="col-md-2">
											<img src="../images/outdoor-work/landscaping.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/landscaping-services">Landscaping Services</a>
											</p>
										</li>
										<li class="col-md-2">
											<img src="../images/outdoor-work/Paving Services.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/paving-services">Paving Services</a></p>
										</li>
										<li class="col-md-2">
											<img src="../images/outdoor-work/Fencing Services.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/fencing-services">Fencing Services</a></p>
										</li>
										<li class="col-md-2">
											<img src="../images/outdoor-work/junk_removal_services.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/junk-removal">Junk Removal</a></p>
										</li>
										<li class="col-md-2">
											<img src="../images/outdoor-work/Vinyl Siding.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/general-siding">General Siding</a></p>
										</li>
									</ul>
									<hr class="mb-4" />
									<h5 class="footer-title text-dark text-center">More in Outdoor Work</h5>
									<ul class="row menu_bottom_links">
										<li class="col-md-2 single_list">
											<ul>
												<li><a href="/services/exterior-painting">Exterior Painting</a>
												</li>
												<li><a href="/services/garage-services">Garage Services</a></li>
												<li><a href="/services/pools-hot-tubes-spas">Pools, Spas, and Hot
														Tubs</a></li>
												<li><a href="/services/masonry-services">Masonry Services</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="nav-item dropdown mega-dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Indoor
								Work</a>
							<div class="dropdown-menu mega-dropdown-menu shadow">
								<div class="container">
									<h5 class="footer-title text-dark text-center">Indoor Works</h5>
									<ul class="row link_with_image list-unstyled justify-content-center text-center">
										<li class="col-md-2">
											<img src="../images/indoor-work/Plumbing Services.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/plumbing-services">Plumbing Services</a></p>
										</li>
										<li class="col-md-2">
											<img src="../images/indoor-work/HVAC Services.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/hvac-services">HVAC Services</a></p>
										</li>
										<li class="col-md-2">
											<img src="../images/indoor-work/Dry Wall & Insulation.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/drywall-and-insulation">Dry Wall &
													Insulation</a></p>
										</li>
										<li class="col-md-2">
											<img src="../images/indoor-work/Pest Control Services.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/pest-control">Pest Control</a></p>
										</li>
										<li class="col-md-2">
											<img src="../images/indoor-work/Cleaning Services.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/general-cleaning">General Cleaning</a></p>
										</li>
										<li class="col-md-2">
											<img src="../images/indoor-work/Painting Services.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/interior-painting">Interior Painting</a></p>
										</li>
									</ul>
									<hr class="mb-4" />
									<h5 class="footer-title text-dark text-center">More in Indoor Works</h5>
									<ul class="row menu_bottom_links">
										<li class="col-md-2 single_list">
											<ul>
												<li><a href="/services/window-and-door-services">Window & Door
														Services</a></li>
												<li><a href="/services/flooring-services">Flooring Services</a>
												</li>
												<li><a href="/services/general-remodeling">General Remodeling</a>
												</li>
												<li><a href="/services/carpenters-services">Carpenters
														Services</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="nav-item dropdown mega-dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Vehicle
								Services</a>
							<div class="dropdown-menu mega-dropdown-menu shadow">
								<div class="container">
									<h5 class="footer-title text-dark text-center">Vehicle Services</h5>
									<ul class="row link_with_image list-unstyled justify-content-center text-center">
										<li class="col-md-2">
											<img src="../images/vehicle-services/tow.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/towing-services">Towing Services</a></p>
										</li>
										<li class="col-md-2">
											<img src="../images/vehicle-services/Oil Change.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/oil-and-fluid-exchange">Oil & Fluid
													Exchange</a></p>
										</li>
										<li class="col-md-2">
											<img src="../images/vehicle-services/body shop.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/body-shop">Body Shop</a></p>
										</li>
										<li class="col-md-2">
											<img src="../images/vehicle-services/M&E.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/mufflers-and-exhaust">Mufflers & Exhaust
													Services</a></p>
										</li>
										<li class="col-md-2">
											<img src="../images/vehicle-services/suspension.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/suspension-services">Suspension Services</a>
											</p>
										</li>
										<li class="col-md-2">
											<img src="../images/vehicle-services/imago.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/brake-change">Brake Change</a></p>
										</li>
									</ul>
									<hr class="mb-4" />
									<h5 class="footer-title text-dark text-center">More in Vehicle Services</h5>
									<ul class="row menu_bottom_links">
										<li class="col-md-2 single_list">
											<ul>
												<li><a href="/services/alarm-installation">Alarm Installation</a>
												</li>
												<li><a href="/services/engine-diagnostic">Engine
														Diagnostic Services</a></li>
												<li><a href="/services/heating-and-cooling">Heating & Cooling</a>
												</li>
												<li><a href="/services/wheel-and-tire">Wheel & Tire
														Services </a></li>
												<li><a href="/services/check-engine-light">Check Engine Light</a>
												</li>
											</ul>
										</li>
										<li class="col-md-2 single_list">
											<ul>
												<li><a href="/services/fleet-services">Fleet Services</a></li>
												<li><a href="/services/battery-services">Battery Services</a>
												</li>
												<li><a href="/services/window-tinting">Window Tinting</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</li>


						<li class="nav-item dropdown mega-dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Other
								Services</a>
							<div class="dropdown-menu mega-dropdown-menu shadow">
								<div class="container">
									<h5 class="footer-title text-dark text-center">Other Services</h5>
									<ul class="row link_with_image list-unstyled justify-content-center text-center">
										<li class="col-md-2">
											<img src="../images/other-services/handyman.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/general-handyman">General Handyman</a></p>
										</li>
										<li class="col-md-2">
											<img src="../images/other-services/general_contractor.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/general-contractor">General Contractor</a></p>
										</li>
										<li class="col-md-2">
											<img src="../images/other-services/eletrical_services.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/electrical-services">Electrical Services</a>
											</p>
										</li>
										<li class="col-md-2">
											<img src="../images/other-services/moving_services.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/moving-services">Moving Services</a></p>
										</li>
										<li class="col-md-2">
											<img src="../images/other-services/security_services.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/building-security">Building Security</a></p>
										</li>
										<li class="col-md-2">
											<img src="../images/other-services/Demolition-deconstruction-v8.jpg" alt=""
												class="img-fluid mb-2" />
											<p><a href="/services/demolition-services">Demolition Services</a>
											</p>
										</li>
									</ul>
									<hr class="mb-4">
									<h5 class="footer-title text-dark text-center">More in Other Services</h5>
									<ul class="row menu_bottom_links">
										<li class="col-md-2 single_list">
											<ul>
												<li><a href="/services/appliance-repairs">Appliance
														Repairs & Installation</a></li>
												<li><a href="/services/locksmith-services">Locksmith Services</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</nav>


			<section class="main_search_bar_mobile">
			  <form autocomplete="off" action="/pages" method="POST">
			    <div class="search_bar autocomplete">
			      <input id="myInput2" name="service" type="text" placeholder="Search...." />
			      <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
			    </div>
			  </form>
			</section>
		</header>



		<section class="new_service_middle_part">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-5">
						<div class="services_intro pl-4 py-4">
							<div class="services_intro_inner">
								<h2>Paving Services</h2>
								<p>Need something Paved? or have a Brick or Stone Repair? We got you covered with
									trusted & Verified professionals. Before hiring, we advise looking over their
									profile and speak directly with the company by sending Texts and Images.</p>

							</div>
						</div>


						<div class="basic_filter pl-4">
							<form action="">
								<div class="form">
									<div class="form-row">
										<div class="form-group col-md-6">
											<div class="decorating_filter">
												<div class="deco_filter_option">
													<div class="single_deco_filter">
														<span>Sort By:</span>
														<select name="" id="" placeholder="monir" class="form-control">
															<option value="">A-Z</option>
															<option value="">Z-A</option>
															<option value="">Date Registed</option>
															<option value="">Nearest</option>
															<option value="">Highest Rated</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group zip_code_form col-md-6">
											<input type="text" placeholder="Zip Code" class="form-control" />

											<div class="action_buttons">
												<div class="the_buttons text-center">
													<a href="javascript:void(0)" id="plus_icon"><i
															class="fa fa-crosshairs" aria-hidden="true"></i></a>
												</div>
												<div class="plus_icon_contents">
													<input type="text" class="js-range-slider" name="my_range"
														value="" />
												</div>
											</div>
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-sm-12">
											<button type="submit"
												class="btn btn-outline-gbz-success d-block text-center w-100"><i
													class="fa fa-search" aria-hidden="true"></i></button>
										</div>
									</div>
									<div class="filter_results_wrap">
										<div class="row">
											<div class="col-6">
												<div class="deco_filter_header">
													<h6><%= company.length %> Results Found</h6>
												</div>
											</div>
											<div class="col-6">
												<div class="filter_button sp_filter_button_for_desktop text-right">
													<a class="btn btn-gbz-success" style="width:130px;"
														href="#servicesFilterOption" data-toggle="modal">Filter</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>

						<hr />

						<div class="company_wrapper company_wrapper_new pl-4">
							<% company.forEach(function(company, i){ %>
							<div class="single_company">
								<div class="company_title">
									<h3><%= company.companyName %></h3>
								</div>
								<div class="the_inner">
									<div class="header_part">
										<div class="row">
											<div class="col-4 pl-1 pr-1">
												<div class="company-profile-pic">
													<img src="<%= company.logo %>" style="border:none" alt="Logo" />
												</div>
											</div>
											<div class="col-8 px-1">

												<div class="stars">
													<h5>
														<i class="fa fa-star" aria-hidden="true"></i>
														<span class="star"><%= company.averageReview %></span> <span class="amount">(<%= company.reviews.length %>
															Reviews)</span>
													</h5>
												</div>
												<div class="company-status">
													<span class="online">- Online</span>
												</div>
												<div class="business_hours">
													<%   let d = new Date(); %>
													<% if (d.getDay() === 0) { %>
													<h4><%= company.sundayFrom %> - <%= company.sundayTo %></h4>
													<% } else if(d.getDay() === 1) { %>
													<h4><%= company.mondayFrom %> - <%= company.mondayTo %></h4>
													<% } else if (d.getDay() === 2) { %>
													<h4><%= company.tuesdayFrom %> - <%= company.tuesdayTo %></h4>
													<% } else if (d.getDay() === 3) { %>
													<h4><%= company.wednesdayFrom %> - <%= company.wednesdayTo %></h4>
													<% } else if (d.getDay() === 4) { %>
													<h4><%= company.thursdayFrom %> - <%= company.thursdayTo %></h4>
													<% } else if (d.getDay() === 5) { %>
													<h4><%= company.fridayFrom %> - <%= company.fridayTo %></h4>
													<% } else if (d.getDay() === 6) { %>
													<h4><%= company.fridayFrom %> - <%= company.fridayTo %></h4>
													<% } else if (d.getDay() === 7) { %>
													<h4><%= company.saturdayFrom %> - <%= company.saturdayTo %></h4>
													<% } else { %>
													<h4>8 AM - 5 PM</h4>
													<% } %>
												</div>
												<h6>Address: <span><%= company.location %></span></h6>
											</div>
										</div>
									</div>
									<div class="company_body">
										<div class="about_section">
											<h4>About</h4>
											<p class="morea"><%= company.about.substring(0,100) %></p>
										</div>
									</div>
								</div>
								<div class="view_more">
									<ul>
										<li><a class="btn btn-gbz-success" href="#company<%= i %>"
												data-toggle="modal">Message</a></li>
										<li><a class="btn btn-gbz-success"
												href="/company-profile/<%= company._id %>">View
												More</a></li>
									</ul>
								</div>
							</div>
							<% }); %>

						</div>
						<div class="company_wrapper_pagination">
							<nav aria-label="">
								<ul class="pagination">
									<li class="page-item disabled">
										<a class="page-link" href="javascript:boid(0)" tabindex="-1">Previous</a>
									</li>
									<li class="page-item active">
										<a class="page-link" href="javascript:void(0)">1</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="javascript:void(0)" target="_self">2</a></li>
									<li class="page-item">
										<a class="page-link" href="javascript:void(0)" target="_self">3</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="javascript:void(0)" target="_self">4</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="javascript:void(0)" target="_self">5</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="javascript:void(0)" target="_self">Next</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>

					<div class="col-md-7 px-0 services_mapps_wrapper services_map_for_desktop_only">
						<!--The div element for the map -->
						<div id="large-map"></div>
					</div>
				</div>
			</div>
		</section>
	</div>



	<section class="map_filter_button_for_mobile">
		<ul>
			<li><a class="" data-toggle="modal" href="#find-service-map-mobile"><i class="fa fa-map-o"
						aria-hidden="true"></i> Map</a></li>
			<li><a class="" data-toggle="modal" href="#servicesFilterOption"><i class="fa fa-filter"
						aria-hidden="true"></i> Filter</a></li>
		</ul>
	</section>


	<div class="modal services_map_for_mobile_modal fade" id="find-service-map-mobile">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<div class="gabazzo_logo text-center">
						<a href="javascript:void(0)"><img src="../images/gabazzo_logo_black.png"
								style="max-width:160px;" alt="" /></a>
					</div>
				</div>
				<div class="modal-body">
					<div id="large-map-mobile"></div>
					<div class="need_list_button">
						<button type="button" class="btn" data-dismiss="modal"><i class="fa fa-list"
								aria-hidden="true"></i> List</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--************************************
			Servics Filter Modal Box Start
		*************************************-->
	<div class="modal fade the_advanced_filter the_advanced_filter_modal" id="servicesFilterOption" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<form action="/services/paving-services" method="POST">
						<div class="filter_areas">
							<div class="single_filter_area">
								<div class="row">
									<div class="col-md-3">
										<div class="filter_topic">
											<h4>Type of Service</h4>
										</div>
									</div>
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-4 col-sm-6">
												<label class="check">Asphalt Installation
													<input type="checkbox" name="filter[]" value="Asphalt Installation">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-4 col-sm-6">
												<label class="check">Asphalt Repair or Maintenance
													<input type="checkbox" name="filter[]" value="Asphalt Repair or Maintenance">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-4 col-sm-6">
												<label class="check">Masonry Construction Services
													<input type="checkbox" name="filter[]" value="Masonry Construction Services">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-4 col-sm-6">
												<label class="check">Paving Stone Contractors
													<input type="checkbox" name="filter[]" value="Paving Stone Contractors">
													<span class="checkmark"></span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="single_filter_area">
								<div class="row">
									<div class="col-md-3">
										<div class="filter_topic">
											<h4>Brick and Stone Repair</h4>
										</div>
									</div>
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-4 col-sm-6">
												<label class="check">Cracks on Bricks/Stone
													<input type="checkbox" name="filter[]" value="Cracks on Bricks/Stone">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-4 col-sm-6">
												<label class="check">Cracks in Mortar
													<input type="checkbox" name="filter[]" value="Cracks in Mortar">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-4 col-sm-6">
												<label class="check">Water Leaking
													<input type="checkbox" name="filter[]" value="Water Leaking">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-4 col-sm-6">
												<label class="check">Leaning Structure
													<input type="checkbox" name="filter[]" value="Leaning Structure">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-4 col-sm-6">
												<label class="check">Foundation Cracked
													<input type="checkbox" name="filter[]" value="Foundation Cracked">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-4 col-sm-6">
												<label class="check">Other
													<input type="checkbox" name="filter[]" value="Other">
													<span class="checkmark"></span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="single_filter_area">
								<div class="row">
									<div class="col-md-3">
										<div class="filter_topic">
											<h4>Property Type</h4>
										</div>
									</div>
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-4 col-sm-6">
												<label class="check">Commercial
													<input type="checkbox" name="is_name">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-4 col-sm-6">
												<label class="check">Residential
													<input type="checkbox" name="is_name">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-4 col-sm-6">
												<label class="check">Office/Business
													<input type="checkbox" name="is_name">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-4 col-sm-6">
												<label class="check">Home
													<input type="checkbox" name="is_name">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-4 col-sm-6">
												<label class="check">Multi-Unit Building
													<input type="checkbox" name="is_name">
													<span class="checkmark"></span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="single_filter_area">
								<div class="row">
									<div class="col-md-3">
										<div class="filter_topic">
											<h4>Seller Language</h4>
										</div>
									</div>
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-4 col-sm-6">
												<label class="check">English
													<input type="checkbox" name="is_name">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-4 col-sm-6">
												<label class="check">Spanish
													<input type="checkbox" name="is_name">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-4 col-sm-6">
												<label class="check">French
													<input type="checkbox" name="is_name">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-4 col-sm-6">
												<label class="check">Polish
													<input type="checkbox" name="is_name">
													<span class="checkmark"></span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="single_filter_area">
								<div class="row">
									<div class="col-md-3">
										<div class="filter_topic">
											<h4>Budget</h4>
										</div>
									</div>
									<div class="col-md-9">
										<div class="budget_form">
											<div class="form-row">
												<div class="form-group col-5">
													<div class="dollar_input">
														<input type="text" class="form-control" />
														<i class="fa fa-usd" aria-hidden="true"></i>
													</div>
												</div>
												<div class="form-group col-2 text-center">
													<h5 class="mt-2">To</h5>
												</div>
												<div class="form-group col-5">
													<div class="dollar_input">
														<input type="text" class="form-control" />
														<i class="fa fa-usd" aria-hidden="true"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="single_filter_area">
								<div class="row">
									<div class="col-sm-3">
										<div class="filter_topic">
											<h4>Seller Availability</h4>
										</div>
									</div>
									<div class="col-sm-9">
										<label class="check"><i class="fa fa-circle text-success"
												aria-hidden="true"></i> View Online <small>(23 Online)</small>
											<input type="checkbox" name="is_name">
											<span class="checkmark"></span>
										</label>
									</div>
								</div>
							</div>

							<div class="single_filter_area">
								<div class="row">
									<div class="col-sm-3">
										<div class="filter_topic">
											<h4>Financing Available</h4>
										</div>
									</div>
									<div class="col-sm-9">
										<label class="radio">Yes
											<input type="radio" name="financing_available">
											<span class="checkround"></span>
										</label>
										<label class="radio">No
											<input type="radio" name="financing_available">
											<span class="checkround"></span>
										</label>
									</div>
								</div>
							</div>

							<div class="single_filter_area">
								<div class="row">
									<div class="col-sm-3">
										<div class="filter_topic">
											<h4>Is It And Emergency?</h4>
										</div>
									</div>
									<div class="col-sm-9">
										<label class="radio">Yes
											<input type="radio" name="is_it_an_emergency">
											<span class="checkround"></span>
										</label>
										<label class="radio">No
											<input type="radio" name="is_it_an_emergency">
											<span class="checkround"></span>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button class="btn btn-gbz-success py-2" type="submit">Apply Filters</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--************************************
			Servics Filter Modal Box End
		*************************************-->


	<!-- Message Seller Modal Starts From Here -->
	<% company.forEach(function(company, i){ %>
	<div class="modal message_seller_modal fade" id="company<%= i %>">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Send a Message</h3>
					<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"
							aria-hidden="true"></i></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-4">
							<div class="profile_info_left">
								<div class="top">
									<div class="profile_pic">
										<img src="<%= company.logo %>" class="img-fluid" alt="" />
									</div>
									<div class="profile_name">
										<h5><%= company.companyName %></h5>
									</div>
									<div class="related_text">
										<h6>Away</h6>
									</div>
								</div>
								<hr />
								<div class="bottom">
									<h5>Please Include:</h5>
									<ul>
										<li>Project Description</li>
										<li>Specific Instructions</li>
										<li>Relevant Files</li>
										<li>Your Budget</li>
										<li>Delivery Time</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-8">
							<div class="message_area">
								<div class="message_header">
									<ul>
										<li><span>Status: <i class="fa fa-moon-o" aria-hidden="true"></i></span> <b>Fri
												08:48 AM</b></li>
										<li><span>Avg. Response Time:</span> <b>1 Hrs.</b></li>
									</ul>
								</div>
								<div class="message_body">
									<form action="">
										<div class="form">
											<div class="body_top_part">
												<textarea name="" id="" cols="30" rows="10"
													class="form-control"></textarea>
											</div>
											<div class="body_bottom_part">
												<div class="form-row">
													<div class="form-group col-6">
														<span class="form-text">0/2500</span>
													</div>
													<div class="form-group text-right col-6">
														<input type="file" name="file-1[]" id="file-1"
															class="inputfile inputfile-1"
															data-multiple-caption="{count} files selected" multiple />
														<label for="file-1"><i class="fa fa-paperclip"
																aria-hidden="true"></i></label>
													</div>
												</div>
											</div>
											<div class="message_send_button text-right mt-3">
												<button type="submit" class="btn btn-gbz-success">Send</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% }); %>
	<!-- Message Seller Modal Ends Here -->


	<footer class="footer_upper">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="single_part">
						<h3>Number of Companies in Waiting List</h3>
						<ul>
							<li><a href="javascript:void(0)">245</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="single_part">
						<h3>Mobile App Coming Soon</h3>
						<ul class="mobile_apps_part">
							<li><a href="javascript:void(0)"><img src="../images/apple_store.png" class="img-fluid"
										alt="" /></a></li>
							<li><a href="javascript:void(0)"><img src="../images/google_play_store.png"
										class="img-fluid" alt="" /></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="single_part">
						<h3>Service Resources</h3>
						<ul>
							<li><a href="javascript:void(0)">Tips, Guids & Advice</a></li>
						</ul>
						<div class="explore_resources mt-3">
							<a class="btn btn-secondary" href="javascript:void(0)">Explore Resources</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<footer class="footer_top">
		<div class="container">
			<div class="upper_part">
				<div class="row">
					<div class="col-md-6 col-lg-3">
						<div class="single_part">
							<nav class="navbar navbar-expand-md">
								<div class="container">
									<a class="footer_nav_togger1 footer_mobile_links" href="#gbzBuildTogether"
										data-toggle="collapse">
										<div class="heading gabazzo_headings">
											<h3>Gabazzo</h3>
											<h6>Building Communities Together</h6>
										</div>
									</a>
									<div class="collapse navbar-collapse" id="gbzBuildTogether">
										<div class="heading gabazzo_headings heading_for_desktop">
											<h3>Gabazzo</h3>
											<h6>Building Communities Together</h6>
										</div>
										<ul class="">
											<li><a href="../new-visitors/about-us.html">About Us</a></li>
											<li><a href="../new-visitors/blog.html">Blog</a></li>
											<li><a href="../new-visitors/site-map.html">Sitemap</a></li>
											<li><a href="../new-visitors/press-and-news.html">Press & News</a></li>
											<li><a href="../new-visitors/how-it-works-members.html">How It Works</a>
											</li>
										</ul>
									</div>
								</div>
							</nav>
						</div>
					</div>

					<div class="col-md-6 col-lg-3">
						<div class="single_part">
							<nav class="navbar navbar-expand-md">
								<div class="container">
									<a class="footer_nav_togger2 footer_mobile_links" href="#customerBar"
										data-toggle="collapse">
										<div class="heading">
											<h3>Customers</h3>
										</div>
									</a>
									<div class="collapse navbar-collapse" id="customerBar">
										<div class="heading heading_for_desktop">
											<h3>Customers</h3>
										</div>
										<ul class="">
											<li><a href="../new-visitors/sign-up-as-a-member.html">Sign Up</a></li>
											<li><a href="javascript:void(0)">One Pager</a></li>
										</ul>
									</div>
								</div>
							</nav>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="single_part">
							<nav class="navbar navbar-expand-md">
								<div class="container">
									<a class="footer_nav_togger3 footer_mobile_links" href="#serviceCompaniesBar"
										data-toggle="collapse">
										<div class="heading">
											<h3>Service Companies</h3>
										</div>
									</a>
									<div class="collapse navbar-collapse" id="serviceCompaniesBar">
										<div class="heading heading_for_desktop">
											<h3>Service Companies</h3>
										</div>
										<ul class="">
											<li><a href="../new-visitors/company-sign-up-home.html">Sign Up as a
													Company</a></li>
											<li><a href="javascript:void(0)">One Pager</a></li>
										</ul>
									</div>
								</div>
							</nav>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="single_part">
							<nav class="navbar navbar-expand-md">
								<div class="container">
									<a class="footer_nav_togger4 footer_mobile_links" href="#supportBar"
										data-toggle="collapse">
										<div class="heading">
											<h3>Support</h3>
										</div>
									</a>
									<div class="collapse navbar-collapse" id="supportBar">
										<div class="heading heading_for_desktop">
											<h3>Support</h3>
										</div>
										<ul class="">
											<li><a href="../new-visitors/help-center-buyer.html">Help Center</a></li>
											<li><a href="../new-visitors/safety-buyer.html">Safety</a></li>
											<li><a href="../new-visitors/terms-and-conditions.html">Terms of Use</a>
											</li>
											<li><a href="../new-visitors/privacy-policy.html">Privacy Policy</a></li>
											<li><a href="../new-visitors/cookie-policy.html">Cookie Policy</a></li>
											<li><a href="../new-visitors/contact-us.html">Contact Us</a></li>
										</ul>
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_part">
				<div class="row">
					<div class="col-md-3">
						<div class="single_part footer_logo_part">
							<div class="footer_logo">
								<a href="/"><img src="../images/gabazzo_logo_white.png" class="img-fluid"
										alt="" /></a>
							</div>
							<ul>
								<li>Chicago, IL 60623-1325</li>
								<li>support@gabazzo.com</li>
							</ul>
						</div>
					</div>
					<div class="col-md-5">
						<div class="single_part">
							<div class="catch_phrase">
								<p>Based in Chicago, Illinois Gabazzo is a platform created for the community in finding
									trusted and reliable services online. </p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single_part">
							<h2>Stay Connected:</h2>
							<h5>Subscribe to Gabazzo.com by entering your email below. You'll receive real-time updates
								when we Publish Newsletters, Website/Mobile App Updates, and much more.</h5>
							<form action="">
								<div class="form">
									<div class="form-group mb-1">
										<div class="subscribe_section">
											<input type="email" placeholder="Enter Your Email Here*" required
												class="form-control" />
											<button type="submit" class="btn btn-info">Subscribe</button>
										</div>
									</div>
								</div>
							</form>
							<div class="stay_connected">
								<div class="social_medis_links">
									<ul>
										<li><a href="https://www.facebook.com/gabazzoKAM/" target="_blank"><i
													class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="https://www.instagram.com/gabazzo/" target="_blank"><i
													class="fa fa-instagram" aria-hidden="true"></i></a></li>
										<li><a href="https://twitter.com/gabazzokam" target="_blank"><i
													class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="https://www.youtube.com/channel/UCKBhvVJYd_HhDHJ3KAnrFLQ?view_as=subscriber"
												target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<footer class="main_footer">
		<div class="container">
			<p class="mb-0">Copyright:&copy; 2019 Gabazzo. All Rights Reserved. Patent Pending</p>
		</div>
	</footer>


	<script src="../js/jquery-3.3.1.min.js" type="text/javascript"></script>
	<script src="../js/bootstrap.bundle.min.js" type="text/javascript"></script>
	<script src="../js/classie.js" type="text/javascript"></script>
	<script src="../js/custom.js" type="text/javascript"></script>
	<script src="../js/ion.rangeSlider.min.js" type="text/javascript"></script>
	<script src="../js/lightcase.js" type="text/javascript"></script>
	<script src="../js/read_more.js" type="text/javascript"></script>
	<script src="../js/autocomplete.js" type="text/javascript"></script>
	<script src="../js/services-map-new-visitors.js" type="text/javascript"></script>
	<script type="text/javascript">

	$(document).ready(function () {

	  var tmp = [];

	  $("input").click(function() {
	    if ($(this).is(':checked')) {
	      var checked = ($(this).val());
	      tmp.push(checked);
	    } else {
	      tmp.splice($.inArray(checked, tmp),1);
	    }
	  });

	});

</script>
	<script type="text/javascript">

		// For Photo Gallery Popups
		$(document).ready(function () {
			var lightcase = $(".what_service_lightcase");
			if (lightcase.length) {
				$('a[data-rel^=lightcase]').lightcase();
			}
		})

		$(".js-range-slider").ionRangeSlider({
			type: "double",
			min: 0,
			max: 100,
			from: 0,
			to: 100,
			grid: true,
		});


		$(document).ready(function () {
			$('#plus_icon').on('click', function () {
				$('.plus_icon_contents').toggleClass('active');
			});
		});

	</script>
	<% if(company.length){ %>
    <script type="text/javascript">
        var user = <%- JSON.stringify(company) %>;

        mapboxgl.accessToken = 'pk.eyJ1IjoiZWpzdHlseiIsImEiOiJjazJuZjBoNWIwcG84M2J4NW5icHVsYWJ2In0.NADiMyMrSjAnQNuNn_XgCA';

        var map = new mapboxgl.Map({
            container: 'large-map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [<%- company[0].coordinates %>],
            zoom: 7
        });

        var map2 = new mapboxgl.Map({
            container: 'large-map-mobile',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [<%- company[0].coordinates %>],
            zoom: 7
        });

        // code from the next step will go here!

        // add markers to map

        // create a HTML element for each feature
        var el2 = document.createElement('div');
        el2.className = 'marker';


        // make a marker for each feature and add to the map
        <% company.forEach(function(company, i){ %>
          new mapboxgl.Marker(el2)
              .setLngLat([<%- company.coordinates %>])
              .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                  .setHTML('<div id="mapInfoBoxContent" class="col-md-12">' + '<div id="firstHeading" class="logo_wrapper">'+ '<img src="<%= company.logo %>" alt="logo">' + '</div>'+ '<h4 class="company_title">'+ "<%= company.companyName %>" +'</h4>'+ '<div id="bodyContent">' + '<p>'+  '<h6 class="address_text mb-0">' + '<b>' + "Address:" + '</b>' + "<%= company.location %>" + '</h6>' +'</p>'+ '<p>'+ '<ul class="footer_buttons">' + '<li>' + '<a class="btn btn-gbz-success" href="#company<%= i %>" data-toggle="modal">' + "Message" + '</a>' + '</li>' + '<li>'+ '<a class="btn btn-gbz-success mt-2 ml-2" href="/company-profile/<%= company._id %>">'+ "More" + '</a>' + '<li>' + '</ul>'+'</p>'+ '</div>'+ '</div>'))
              .addTo(map2);
          map2.addControl(new mapboxgl.NavigationControl());
          map2.addControl(new mapboxgl.FullscreenControl());


          // create a HTML element for each feature
          var el = document.createElement('div');
          el.className = 'marker';


          // make a marker for each feature and add to the map
          new mapboxgl.Marker(el)
              .setLngLat([<%- company.coordinates %>])
              .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                  .setHTML('<div id="mapInfoBoxContent" class="col-md-12">' + '<div id="firstHeading" class="logo_wrapper">'+ '<img src="<%= company.logo %>" alt="logo">' + '</div>'+ '<h4 class="company_title">'+ "<%= company.companyName %>" +'</h4>'+ '<div id="bodyContent">' + '<p>'+  '<h6 class="address_text mb-0">' + '<b>' + "Address:" + '</b>' + "<%= company.location %>" + '</h6>' +'</p>'+ '<p>'+ '<ul class="footer_buttons">' + '<li>' + '<a class="btn btn-gbz-success" href="#company<%= i %>" data-toggle="modal">' + "Message" + '</a>' + '</li>' + '<li>'+ '<a class="btn btn-gbz-success mt-2 ml-2" href="/company-profile/<%= company._id %>">'+ "More" + '</a>' + '<li>' + '</ul>'+'</p>'+ '</div>'+ '</div>'))
              .addTo(map);
          map.addControl(new mapboxgl.NavigationControl());
          map.addControl(new mapboxgl.FullscreenControl());
        <% }); %>

    </script>
  <% } %>
</body>

</html>
