<% layout('layouts/companyDashboardBoilerplate') -%>

<section class="dashboard_banner">
	<div class="overlay">
		<div class="container">
			<h1>Dashboard <b>/</b> <span>Home</span></h1>
		</div>
	</div>
</section>

<form action="/dashboard?_method=PUT" method="POST" enctype="multipart/form-data">
	<section class="dashboard_middle">
		<div class="container_gbz">
			<div class="dashboard_home dashboard_wrap">
				<div class="upload_files_part">
					<div class="row">
						<div class="col-md-6">
							<div class="single_upload">
								<div class="upload_header">
									<h5>Company Logo</h5>
								</div>
								<div>
									<div class="form-group" align="center">
										<div class="col-md-8 pt-3" align="center">
											<div class="form-group">
												<div>
													<img src="<%= currentUser.logo %>" class="img-fluid" alt="" />
												</div>
											</div>
										</div>
										<div align="center">
											<a href="#logo" class="btn btn-gbz-success" data-toggle="modal">Change
												Logo</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="single_upload">
									<div class="upload_header">
										<h5>Upload Slider Photos</h5>
									</div>
									<div class="upload_area">
										<div class="form-group">
											<input type="file" name="slider" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
											<label for="file-1">
												<div class="upload_fils">
													<div class="icon">
														<i class="fa fa-cloud-upload" aria-hidden="true"></i>
													</div>
													<h5>Drag & Drop a Files Here <br /> or <br /> Click to Upload</h5>
												</div>
											</label>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<div class="indroduction">
							<h3>About</h3>
							<div class="form">
								<div class="form-group">
									<textarea name="about" id="" cols="30" rows="10"
										class="form-control"><%= currentUser.about %></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="dash_travel_mile">
							<!-- Travel Mile Radius Map -->
							<div id="map"></div>

						</div>
					</div>
				</div>
				<div class="intro_basic">
					<div class="row">
						<div class="col-md-6">
							<div class="location">
								<h3>Location</h3>
								<div class="location_inner">
									<div class="form">
										<div class="form-row">
											<div class="form-group col-md-4">
												<select name="" id="" class="form-control">
													<option readonly>United States</option>
												</select>
											</div>
											<div class="form-group col-md-4">
												<input type="text" placeholder="City" class="form-control"
													value="<%= currentUser.city %>" name="city" />
											</div>
											<div class="form-group col-md-4">
												<input type="text" placeholder="State" class="form-control"
													value="<%= currentUser.state %>" name="state" />
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-12">
												<input type="text" placeholder="Address" class="form-control"
													value="<%= currentUser.location %>" name="location"
													name="location" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="dash_basic_info">
								<h3>Company Information</h3>
								<div class="form">
									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="">Company Name:</label>
											<input type="text" class="form-control" name="companyName"
												value="<%= currentUser.companyName %>" required="" />
										</div>
										<div class="form-group col-md-6">
											<label for="">Slogan:</label>
											<input type="text" class="form-control" value="<%= currentUser.slogan %>"
												name="slogan" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="">Email:</label>
											<input type="email" class="form-control" value="<%= currentUser.email %>"
												name="email" />
										</div>
										<div class="form-group col-md-6">
											<label for="">Phone Number:</label>
											<input type="tel" class="form-control"
												value="<%= currentUser.phoneNumber %>" name="phoneNumber" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="">Years In Business:</label>
											<input type="text" class="form-control"
												value="<%= currentUser.yearsInBusiness %>" name="yearsInBusiness" />
										</div>
										<div class="form-group col-md-6">
											<label for="">Directions:</label>
											<input type="url" class="form-control" value="<%= currentUser.directions %>"
												name="directions" />
										</div>
									</div>
									<div class="form-group mb-0">
										<label for="">Website:</label>
										<input type="url" class="form-control" value="<%= currentUser.website %>"
											name="website" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr />

				<div class="lang_payment">
					<div class="row">
						<div class="col-md-6">
							<div class="single_box">
								<h3>Set Your Language</h3>
								<div class="box_inner">
									<div class="form">
										<div class="form-row">
											<div class="form-group col-9">
												<select name="language" class="form-control" id="text1">
													<option>English</option>
													<option>Spanish</option>
													<option>French</option>
													<option>Polish</option>
													<option>German</option>
													<option>Russian</option>
													<option>Chinese (Mandarin)</option>
													<option>Chinese (Cantonese)</option>
												</select>
											</div>
											<div class="form-group col-3">
												<input type="button" name="" value="Add" class="btn btn-gbz-success" onclick="add_element_to_array_lang();">
											</div>
										</div>
									</div>
									<div class="added_items" id="lang">

										<% let uniqueLanguage = new Set(user.language); %>
										<% let langs = [...uniqueLanguage] %>
										<% langs.forEach(function(lang){ %>
											<span><%= lang %> <a href="javascript:void(0)"><i class="fa fa-times"
														aria-hidden="true"></i></a></span>
										<% }); %>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="single_box">
								<h3>Areas of Expertise</h3>
								<div class="box_inner">
									<div class="form">
										<div class="form-row">
											<div class="form-group col-9">
												<input type="text" id="text2" placeholder="Type Area Expertise and Click Add"
													class="form-control" name="areasOfExpertise" />
											</div>
											<div class="form-group col-3">
												<input type="button" name="" value="Add" class="btn btn-gbz-success add2" onclick="add_element_to_array_exp();">
											</div>
										</div>
									</div>
									<div class="added_items" id="exp">
										<% let uniqueArea = new Set(user.areasOfExpertise); %>
										<% let arr = [...uniqueArea] %>
										<% arr.forEach(function(arr){ %>
											<span><%= arr %> <a href="javascript:void(0)"><i class="fa fa-times"
														aria-hidden="true"></i></a></span>
										<% }); %>

									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="single_box">
								<h3>Service Areas</h3>
								<div class="box_inner">
									<div class="form">
										<div class="form-row">
											<div class="form-group col-9">
												<input type="text" id="text3" placeholder="Type Service Area and Click Add"
													class="form-control" name="serviceAreas" />
											</div>
											<div class="form-group col-3">
												<input type="button" name="" value="Add" class="btn btn-gbz-success add3" onclick="add_element_to_array_ser();">
											</div>
										</div>
									</div>
									<div class="added_items" id="ser">
										<% let uniqueService = new Set(user.serviceAreas); %>
										<% let servs = [...uniqueService] %>
										<% servs.forEach(function(serv){ %>
											<span><%= serv %> <a href="javascript:void(0)"><i class="fa fa-times"
														aria-hidden="true"></i></a></span>
										<% }); %>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="single_box">
								<h3>Product Used</h3>
								<div class="box_inner">
									<div class="form">
										<div class="form-row">
											<div class="form-group col-9">
												<input type="text" id="text4" placeholder="Type Product and Click Add"
													class="form-control" name="productsUsed" />
											</div>
											<div class="form-group col-3">
												<input type="button" name="" value="Add" class="btn btn-gbz-success add4" onclick="add_element_to_array_pro();">
											</div>
										</div>
									</div>
									<div class="added_items" id="pro">
										<% let uniqueProduct = new Set(user.productsUsed); %>
										<% let prods = [...uniqueProduct] %>
										<% prods.forEach(function(prod){ %>
											<span><%= prod %> <a href="javascript:void(0)"><i class="fa fa-times"
														aria-hidden="true"></i></a></span>
										<% }); %>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="single_box payment_method">
								<h3>Payment Method</h3>
								<div class="box_inner">
									<div class="form">
										<div class="row">
											<div class="col-md-6">
												<label class="check"><i class="fa fa-cc-amex" aria-hidden="true"></i>
													American Express
													<input type="checkbox" name="is_name">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-6">
												<label class="check"><i class="fa fa-cc-discover"
														aria-hidden="true"></i> Discover
													<input type="checkbox" name="is_name">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-6">
												<label class="check"><i class="fa fa-cc-mastercard"
														aria-hidden="true"></i> Master Card
													<input type="checkbox" name="is_name">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-6">
												<label class="check"><i class="fa fa-cc-paypal" aria-hidden="true"></i>
													Paypal
													<input type="checkbox" name="is_name">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-6">
												<label class="check"><i class="fa fa-cc-visa" aria-hidden="true"></i>
													Visa
													<input type="checkbox" name="is_name">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="col-md-6">
												<label class="check"><i class="fa fa-money" aria-hidden="true"></i>
													Cash
													<input type="checkbox" name="is_name">
													<span class="checkmark"></span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="single_box">
								<h3>Tags</h3>
								<div class="box_inner">
									<div class="form">
										<div class="form-row">
											<div class="form-group col-9">
												<input type="text" id="text5" placeholder="Type Tags and Click Add"
													class="form-control" />
											</div>
											<div class="form-group col-3">
												<input type="button" name="" value="Add" class="btn btn-gbz-success add5" onclick="add_element_to_array_tag();">
											</div>
										</div>
									</div>
									<div class="added_items" id="tag">
										<% let uniqueTags = new Set(user.tags); %>
										<% let tags = [...uniqueTags] %>
										<% tags.forEach(function(tag){ %>
											<span><%= tag %> <a href="javascript:void(0)"><i class="fa fa-times"
														aria-hidden="true"></i></a></span>
										<% }); %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr />

				<div class="important_social">
					<div class="row">
						<div class="col-md-6">
							<div class="social_add">
								<h3>Add Social Media</h3>
								<div class="social_inner">
									<div class="form-group">
										<div class="dollar_input">
											<input type="url" placeholder="Enter Your Facebook URL" class="form-control"
												name="facebookUrl" value="<%= currentUser.facebookUrl %>" />
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</div>
									</div>
									<div class="form-group">
										<div class="dollar_input">
											<input type="url" placeholder="Enter Your Twitter URL" class="form-control"
												name="twitterUrl" value="<%= currentUser.twitterUrl %>" />
											<i class="fa fa-twitter" aria-hidden="true"></i>
										</div>
									</div>
									<div class="form-group">
										<div class="dollar_input">
											<input type="url" placeholder="Enter Your Instagram URL"
												class="form-control" name="instagramUrl"
												value="<%= currentUser.instagramUrl %>" />
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</div>
									</div>
									<div class="form-group">
										<div class="dollar_input">
											<input type="url" placeholder="Enter Your LinkedIn URL" class="form-control"
												name="linkedinUrl" value="<%= currentUser.linkedinUrl %>" />
											<i class="fa fa-linkedin" aria-hidden="true"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="dash_basic_info">
								<h3>Important Facts</h3>
								<div class="form">
									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="">State License Trade <a href="javascript:void(0)"><i
														title="A certificate/document which grants the permission to carry on a particular trade or business for which it is issued."
														data-toggle="tooltip" class="fa fa-question-circle"
														aria-hidden="true"></i></a></label>
											<input type="text" class="form-control" name="stateLicenseTrade"
												value="<%= currentUser.stateLicenseTrade %>" />
										</div>
										<div class="form-group col-md-6">
											<label for="">License Number <a href="javascript:void(0)"><i
														title="A business license allows you to legally conduct business in your state, city or county."
														data-toggle="tooltip" class="fa fa-question-circle"
														aria-hidden="true"></i></a></label>
											<input type="text" class="form-control" name="licenseNumber"
												value="<%= currentUser.licenseNumber %>" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="">Expiration <a href="javascript:void(0)"><i
														title="The time of your state license Expiration date."
														data-toggle="tooltip" class="fa fa-question-circle"
														aria-hidden="true"></i></a></label>
											<input type="date" class="form-control" name="licenseExpiration"
												value="<%= currentUser.licenseExpiration %>" />
										</div>
										<div class="form-group col-md-6">
											<label for="">Type of Entity <a href="javascript:void(0)"><i
														title="Your form of business determines which income tax return form you have to file."
														data-toggle="tooltip" class="fa fa-question-circle"
														aria-hidden="true"></i></a></label>
											<input type="text" class="form-control" name="entityType"
												value="<%= currentUser.entityType %>" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-group mb-0 col-md-6">
											<label for="">Insurance Type <a href="javascript:void(0)"><i
														title="Insurance is a means of protection from financial loss. It is a form of risk management, primarily used to hedge against the risk of a contingent or uncertain loss."
														data-toggle="tooltip" class="fa fa-question-circle"
														aria-hidden="true"></i></a></label>
											<input type="text" class="form-control" name="insuranceType"
												value="<%= currentUser.insuranceType %>" />
										</div>
										<div class="form-group mb-0 col-md-6">
											<label for="">Insurance Expiration <a href="javascript:void(0)"><i
														title="The time of your Insurance Expiration date."
														data-toggle="tooltip" class="fa fa-question-circle"
														aria-hidden="true"></i></a></label>
											<input type="date" class="form-control mb-3" name="insuranceExpiration"
												value="<%= currentUser.insuranceExpiration %>" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr />

				<div class="dash_business_hrs">
					<h3>Set Your Company Business Hours</h3>

					<div class="table-responsive">
						<table class="table table-bordered mb-0">
							<thead>
								<tr>
									<th>Day</th>
									<th>From</th>
									<th>To</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="day">Monday</td>
									<td>
										<input type="time" name="mondayFrom" class="form-control"
											value="<%= currentUser.mondayFrom %>" />
									</td>
									<td>
										<input type="time" name="mondayTo" class="form-control"
											value="<%= currentUser.mondayTo %>" />
									</td>
								</tr>

								<tr>
									<td class="day">Tuesday</td>
									<td>
										<input type="time" name="tuesdayFrom" class="form-control"
											value="<%= currentUser.tuesdayFrom %>" />
									</td>
									<td>
										<input type="time" name="tuesdayTo" class="form-control"
											value="<%= currentUser.tuesdayTo %>" />
									</td>
								</tr>

								<tr>
									<td class="day">Wednesday</td>
									<td>
										<input type="time" name="wednesdayFrom" class="form-control tuesday_action_take"
											value="<%= currentUser.wednesdayFrom %>" />
									</td>
									<td>
										<input type="time" name="wednesdayTo" class="form-control tuesday_action_take"
											value="<%= currentUser.wednesdayTo %>" />
									</td>
								</tr>

								<tr>
									<td class="day">Thursday</td>
									<td>
										<input type="time" name="thursdayFrom" class="form-control"
											value="<%= currentUser.thursdayFrom %>" />
									</td>
									<td>
										<input type="time" name="thursdayTo" class="form-control"
											value="<%= currentUser.thursdayTo %>" />
									</td>
								</tr>

								<tr>
									<td class="day">Friday</td>
									<td>
										<input type="time" name="fridayFrom" class="form-control"
											value="<%= currentUser.fridayFrom %>" />
									</td>
									<td>
										<input type="time" name="fridayTo" class="form-control"
											value="<%= currentUser.fridayTo %>" />
									</td>
								</tr>

								<tr>
									<td class="day">Saturday</td>
									<td>
										<input type="time" name="saturdayFrom" class="form-control"
											value="<%= currentUser.saturdayFrom %>" />
									</td>
									<td>
										<input type="time" name="saturdayTo" class="form-control"
											value="<%= currentUser.saturdayTo %>" />
									</td>
								</tr>

								<tr>
									<td class="day">Sunday</td>
									<td>
										<input type="time" name="sundayFrom" class="form-control"
											value="<%= currentUser.sundayFrom %>" />
									</td>
									<td>
										<input type="time" name="sundayTo" class="form-control"
											value="<%= currentUser.sundayTo %>" />
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="update_now_button_section">
		<div class="container_gbz">
			<div class="row">
				<div class="col-md-7">
					<p><span>*</span> Click <b>Save Changes</b> to update latest added detail (s).</p>
				</div>
				<div class="col-md-5">
					<div class="save_change_button">
						<button type="submit" class="btn btn-gbz-success">Save Changes</button>
					</div>
				</div>
			</div>
		</div>
	</section>
</form>

<!-- My Account SideMenu For Desktop -->
<div class="" id="myAcContents">
	<div id="dismissMyAcActionLink">
		<i class="fa fa-times" aria-hidden="true"></i>
	</div>
	<div class="my_account_menu">
		<div class="top_part">
			<img src="<%= currentUser.logo %>" class="profile-photo" alt="">
			<div class="profile_name"><%= currentUser.companyName%></div>
		</div>
		<div class="bottom_part">
			<ul>
				<li><a href="/company-dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i><span>View
							Dashboard</span></a></li>
				<li><a href="/company-settings/account"><i class="fa fa-fw fa-cog"></i><span>Settings</span></a></li>
				<li><a href="../footer-pages/help-center-seller.html"><i class="fa fa-fw fa-comments"></i><span>Seller
							Help Center</span></a></li>
				<li><a href="/logout" target="_self"><i class="fa fa-fw fa-power-off"></i><span>Logout</span></a></li>
			</ul>
		</div>
	</div>
</div>
<!-- My Account SideMenu For Desktop -->

<!-- Profile Picture Modal -->
<div class="modal certificate_modal dashboard_wrap fade" id="picture">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Change Profile Picture</h3>
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"
						aria-hidden="true"></i></button>
			</div>
			<div class="modal-body">
				<form action="/profile-picture?_method=PUT" method="POST" class="single_upload" enctype="multipart/form-data">
					<div class="upload_header">
						<h5>Upload Profile Picture</h5>
					</div>
					<div class="upload_area">
						<div class="form-group">
							<input type="file" name="profilePicture" id="file-1" class="inputfile inputfile-1" />
							<label for="file-1">
								<div class="upload_fils">
									<div class="icon">
										<i class="fa fa-cloud-upload" aria-hidden="true"></i>
									</div>
									<h5>Drag & Drop a Files Here <br /> or <br /> Click to Upload</h5>
								</div>
							</label>
						</div>
					</div>
				</form>
			</div>
			<div class="save_button text-right">
				<button type="submit" class="btn btn-gbz-success">Save</button>
			</div>
		</div>
	</div>
</div>
</div>

<!-- Logo Picture Modal -->
<div class="modal certificate_modal dashboard_wrap fade" id="logo">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Change Logo</h3>
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"
						aria-hidden="true"></i></button>
			</div>
			<div class="modal-body">
				<form action="/logo?_method=PUT" method="POST" class="single_upload" enctype="multipart/form-data">
					<div class="upload_header">
						<h5>Change Logo</h5>
					</div>
					<div class="upload_area">
						<div class="form-group">
							<input type="file" name="logo" id="file-2" class="inputfile inputfile-1" />
							<label for="file-2">
								<div class="upload_fils">
									<div class="icon">
										<i class="fa fa-cloud-upload" aria-hidden="true"></i>
									</div>
									<h5>Drag & Drop a Files Here <br /> or <br /> Click to Upload</h5>
								</div>
							</label>
						</div>
					</div>
				</form>
			</div>
			<div class="save_button text-right">
				<button type="submit" class="btn btn-gbz-success">Save</button>
			</div>
		</div>
	</div>
</div>
</div>
