<% layout('layouts/companyMediaBoilerplate') -%>


<% var alph = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"] %>
<% var alpha = ["aa", "bb", "cc", "dd", "ee", "ff", "gg", "hh", "ii", "jj", "kk", "ll", "mm", "nn", "oo", "pp", "qq", "rr", "ss", "tt", "uu", "vv", "wx", "xx", "yy", "zz"] %>
<% var alphab = ["aaa", "bbb", "ccc", "ddd", "eee", "fff", "ggg", "hhh", "iii", "jjj", "kkk", "lll", "mmm", "nnn", "ooo", "ppp", "qqq", "rrr", "sss", "ttt", "uuu", "vvv", "www", "xxx", "yyy", "zzz"] %>
<% var alphabe = ["aaaa", "bbbb", "cccc", "dddd", "eeee", "ffff", "gggg", "hhhh", "iiii", "jjjj", "kkkk", "llll", "mmmm", "nnnn", "oooo", "pppp", "qqqq", "rrrr", "ssss", "tttt", "uuuu", "vvvv", "wwww", "xxxx", "yyyy", "zzzz"] %>


<section class="dashboard_banner">
	<div class="overlay">
		<div class="container">
			<h1>Dashboard <b>/</b> <span>Media</span></h1>
		</div>
	</div>
</section>


<section class="dashboard_middle">
	<div class="container_gbz">
		<div class="dashboard_media dashboard_wrap">
			<div class="single_upload_area photo_upload">
				<div class="single_part">
					<h3>Upload Your Photo</h3>
					<div class="inner_part">
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-6">
								<div class="dash_single_media add_new_media">
									<div class="text-center">
										<a class="" href="#uploadPhoto" data-toggle="modal">
											<i class="fa fa-cloud-upload" aria-hidden="true"></i>
											<div class=""><span>Upload Photo</span></div>
										</a>
									</div>
								</div>
							</div>
							<% for (var i = 0; i < mediaPhoto.length; i++) { %>
							<div class="col-lg-3 col-md-4 col-sm-6">
								<div class="dash_single_media">
									<div class="action_button">
										<ul>
											<li><a href="#<%= alph[i] %>" data-toggle="modal"><i title="Edit"
														data-toggle="tooltip" class="fa fa-pencil-square-o"
														aria-hidden="true"></i></a></li>
											<li><a href="#<%= alpha[i] %>" data-toggle="modal"><i title="Delete"
														data-toggle="tooltip" class="fa fa-trash-o"
														aria-hidden="true"></i></a></li>
										</ul>
									</div>
									<div class="certi_wrapper">
										<div class="certi_image">
											<img src="<%= mediaPhoto[i].imageUrl %>" class="img-fluid" alt="" />
										</div>
										<div class="certi_info">
											<h5><%= mediaPhoto[i].title %></h5>
										</div>
									</div>
								</div>
							</div>
							<% }; %>
						</div>
					</div>
				</div>
			</div>

			<hr class="my-5" />

			<div class="single_upload_area photo_upload">
				<div class="single_part">
					<h3>Upload & Manage Your Videos</h3>
					<div class="inner_part">
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-6">
								<div class="dash_single_media add_new_media">
									<div class="text-center">
										<a class="" href="#uploadVideo" data-toggle="modal">
											<i class="fa fa-cloud-upload" aria-hidden="true"></i>
											<div class=""><span>Upload Videos</span></div>
										</a>
									</div>
								</div>
							</div>
							<% for (var i = 0; i < mediaVideo.length; i++) { %>
							<div class="col-lg-3 col-md-4 col-sm-6">
								<div class="dash_single_media">
									<div class="action_button">
										<ul>
											<li><a href="#<%= alphab[i] %>" data-toggle="modal"><i title="Edit"
														data-toggle="tooltip" class="fa fa-pencil-square-o"
														aria-hidden="true"></i></a></li>
											<li><a href="#<%= alphabe[i] %>" data-toggle="modal"><i title="Delete"
														data-toggle="tooltip" class="fa fa-trash-o"
														aria-hidden="true"></i></a></li>
										</ul>
									</div>
									<div class="certi_wrapper">
										<div class="certi_image">
											<video width="100%" height="100%" controls>
												<source src="<%= mediaVideo[i].videoUrl %>" type="video/mp4">
												<source src="<%= mediaVideo[i].videoUrl %>" type="video/ogg">
												Your browser does not support the video tag.
											</video>
										</div>
										<div class="certi_info">
											<h5><%= mediaVideo[i].title %></h5>
										</div>
									</div>
								</div>
							</div>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Edit Photo Modal Starts From Here -->
<% for (var i = 0; i < mediaPhoto.length; i++) { %>
<div class="modal timeline_edit_modal fade" id="<%= alph[i] %>">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Edit Photo Title & Description</h3>
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"
						aria-hidden="true"></i></button>
			</div>
			<div class="modal-body">
				<form action="/media-photo/<%= mediaPhoto[i].id %>?_method=PUT" method="POST">
					<div class="form">
						<div class="form-group">
							<input type="text" name="title" value="<%= mediaPhoto[i].title %>"
								placeholder="Your Title Here" class="form-control" />
						</div>
						<div class="form-group">
							<textarea name="description" id="" cols="30" rows="3"
								class="form-control"><%= mediaPhoto[i].description %></textarea>
							<div class="form-text text-right">
								<span>0/460</span>
							</div>
						</div>
						<div class="save_button text-right">
							<button type="submit" class="btn btn-gbz-success">Update</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<% } %>
<!-- Edit Photo Modal Ends Here -->


<!-- Delete Photo Modal Starts From Here -->
<% for (var i = 0; i < mediaPhoto.length; i++) { %>
<div class="modal timeline_edit_modal fade" id="<%= alpha[i] %>">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Delete Photo</h3>
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"
						aria-hidden="true"></i></button>
			</div>
			<div class="modal-body">
				<form action="/media-photo/<%= mediaPhoto[i].id %>?_method=DELETE" method="POST">
					<div class="form">
						<div class="form-group">
							<h2>Are you sure you want to delete the photo?</h2>
						</div>
						<div class="save_button text-right">
							<button type="submit" class="btn btn-gbz-success">Delete</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Delete Photo Modal Ends Here -->
<% } %>


<!-- Edit Video Modal Starts From Here -->
<% for (var i = 0; i < mediaVideo.length; i++) { %>
<div class="modal timeline_edit_modal fade" id="<%= alphab[i] %>">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Edit Video Title & Description</h3>
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"
						aria-hidden="true"></i></button>
			</div>
			<div class="modal-body">
				<form action="/media-video/<%= mediaVideo[i].id %>?_method=PUT" method="POST">
					<div class="form">
						<div class="form-group">
							<input type="text" name="title" value="<%= mediaVideo[i].title %>"
								placeholder="Your Title Here" class="form-control" />
						</div>
						<div class="form-group">
							<textarea name="" value="" id="" cols="30" rows="3"
								class="form-control"><%= mediaVideo[i].description %></textarea>
							<div class="form-text text-right">
								<span>0/460</span>
							</div>
						</div>
						<div class="save_button text-right">
							<button type="submit" class="btn btn-gbz-success">Update</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<% } %>
<!-- Edit Video Modal Ends Here -->

<!-- Delete Video Modal Starts From Here -->
<% for (var i = 0; i < mediaVideo.length; i++) { %>
<div class="modal timeline_edit_modal fade" id="<%= alphabe[i] %>">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Delete Video</h3>
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"
						aria-hidden="true"></i></button>
			</div>
			<div class="modal-body">
				<form action="/media-video/<%= mediaVideo[i].id %>?_method=DELETE" method="POST">
					<div class="form">
						<div class="form-group">
							<h2>Are you sure you want to delete the video?</h2>
						</div>
						<div class="save_button text-right">
							<button type="submit" class="btn btn-gbz-success">Delete</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<% } %>
<!-- Delete Photo Modal Ends Here -->


<!-- Upload Photo Modal Starts From Here -->
<div class="modal certificate_modal dashboard_wrap fade" id="uploadPhoto">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Upload Photo & Set a Description</h3>
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"
						aria-hidden="true"></i></button>
			</div>
			<div class="modal-body">
				<form action="/media-photo" method="POST" enctype="multipart/form-data">
					<div class="form">
						<div class="single_upload">
							<div class="upload_header">
								<h5>Upload Photo</h5>
							</div>
							<div class="upload_area">
								<div class="form-group">
									<input type="file" name="image" id="file-1" class="inputfile inputfile-1" />
									<label for="file-1">
										<div class="upload_fils">
											<div class="icon">
												<i class="fa fa-cloud-upload" aria-hidden="true"></i>
											</div>
											<h5>Drag & Drop a Photos Here <br /> or <br /> Click to Upload</h5>
										</div>
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<input type="text" name="title" placeholder="Enter Photo Title" class="form-control" />
						</div>
						<div class="form-group">
							<textarea name="description" placeholder="Write a Short Description..." id="" cols="30"
								rows="3" class="form-control"></textarea>
							<div class="form-text text-right">
								<span>0/460</span>
							</div>
						</div>
						<div class="save_button text-right">
							<button type="submit" class="btn btn-gbz-success">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Upload Photo Modal Ends Here -->


<!-- Upload Video Modal Starts From Here -->
<div class="modal certificate_modal dashboard_wrap fade" id="uploadVideo">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Upload Video & Set a Description</h3>
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"
						aria-hidden="true"></i></button>
			</div>
			<div class="modal-body">
				<form action="/media-video" method="POST" enctype="multipart/form-data">
					<div class="form">
						<div class="single_upload">
							<div class="upload_header">
								<h5>Upload Video</h5>
							</div>
							<div class="upload_area">
								<div class="form-group">
									<input type="file" name="video" id="file-2" class="inputfile inputfile-1" />
									<label for="file-2">
										<div class="upload_fils">
											<div class="icon">
												<i class="fa fa-cloud-upload" aria-hidden="true"></i>
											</div>
											<h5>Drag & Drop a Video Here <br /> or <br /> Click to Upload</h5>
										</div>
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<input type="text" name="title" placeholder="Enter Video Title" class="form-control" />
						</div>
						<div class="form-group">
							<textarea name="description" placeholder="Write a Short Description..." id="" cols="30"
								rows="3" class="form-control"></textarea>
							<div class="form-text text-right">
								<span>0/460</span>
							</div>
						</div>
						<div class="save_button text-right">
							<button type="submit" class="btn btn-gbz-success">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Upload Video Modal Ends Here -->



<section class="update_now_button_section">
	<div class="container_gbz">
		<div class="row">
			<div class="col-md-7">
				<p><span>*</span> Click <b>Save Changes</b> to update latest added detail (s).</p>
			</div>
			<div class="col-md-5">
				<div class="save_change_button">
					<button type="button" class="btn btn-gbz-success">Save Changes</button>
				</div>
			</div>
		</div>
	</div>
</section>