<% layout('layouts/companyProductBoilerplate') -%>

<% var alph = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"] %>
<% var alpha = ["aa", "bb", "cc", "dd", "ee", "ff", "gg", "hh", "ii", "jj", "kk", "ll", "mm", "nn", "oo", "pp", "qq", "rr", "ss", "tt", "uu", "vv", "wx", "xx", "yy", "zz"] %>


<section class="dashboard_banner">
	<div class="overlay">
		<div class="container">
			<h1>Dashboard <b>/</b> <span>Products</span></h1>
		</div>
	</div>
</section>


<section class="dashboard_middle">
	<div class="container_gbz">
		<div class="dash_services_products dashboard_wrap">
			<div class="">
				<div class="single_part">
					<h3>Post New Products & Manage Your Products</h3>
					<div class="inner_part">
						<div class="row">
							<div class="col-lg-3 col-md-6">
								<div class="dash_single_sp add_new_sp">
									<div class="text-center">
										<a class="" href="#createNewProducts" data-toggle="modal">
											<i class="fa fa-plus" aria-hidden="true"></i>
											<div class=""><span>Create a New Products</span></div>
										</a>
									</div>
								</div>
							</div>

							<% for (var i = 0; i < product.length; i++) { %>
							<div class="col-lg-3 col-md-6">
								<div class="dash_single_sp">
									<div class="action_button">
										<ul>
											<li><a href="#<%= alph[i] %>" data-toggle="modal"><i title="Edit"
														data-toggle="tooltip" class="fa fa-pencil-square-o"
														aria-hidden="true"></i></a></li>
											<li><a href="#<%= alpha[i] %>" data-toggle="modal"><i title="Delete"
														data-toggle="tooltip" class="fa fa-trash-o"
														aria-hidden="true"></i></a></li>
										</ul>
									</div>
									<div class="single_sp_wrapper">
										<div class="sp_image">
											<img src="<%= product[i].images[0].url %>" class="img-fluid" alt="" />
										</div>
										<div class="sp_title">
											<h5><%= product[i].title %></h5>
										</div>
									</div>
								</div>
							</div>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<!-- Create New Products Modal Starts From Here -->
<div class="modal dash_sp_modal dashboard_wrap fade" id="createNewProducts">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Create New Poducts</h3>
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"
						aria-hidden="true"></i></button>
			</div>
			<div class="modal-body">
				<form action="/products" method="POST" enctype="multipart/form-data">
					<div class="form">
						<div class="">
							<div class="form-group">
								<input type="text" name="title" placeholder="Title" class="form-control" />
							</div>
						</div>
						<div class="single_upload">
							<div class="upload_header">
								<h5>Upload Product Related Photos <small>(Max: 10 Items)</small></h5>
							</div>
							<div class="upload_area">
								<div class="form-group mb-2">
									<input type="file" name="images" id="file-1" class="inputfile inputfile-1"
										data-multiple-caption="{count} files selected" multiple required />
									<label for="file-1">
										<div class="upload_fils">
											<div class="icon">
												<i class="fa fa-cloud-upload" aria-hidden="true"></i>
											</div>
											<h5>Drag & Drop a Photos Here <br /> or <br /> Click to Upload</h5>
										</div>
									</label>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<select name="service" id="service" class="form-control">
									<option>--Select Service--</option>
									<option>Outdoor Work</option>
									<option>Indoor Work</option>
									<option>Vehicle Services</option>
									<option>Other Services</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<select name="category" id="category" class="form-control">
									<option value="">--Select Service Category--</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<textarea name="description" placeholder="Write a Description..." id="myText" cols="30"
								rows="7" class="form-control" maxlength="1200"></textarea>
							<div class="form-text text-right">
								<span id="wordCount">0</span>/<span>1200</span>
							</div>
						</div>

						<div class="product_speci_dash">
							<div class="header">
								<div class="row">
									<div class="col-9">
										<h4>Set The Product Specifications:</h4>
									</div>
									<div class="col-3 text-right">
										<a class="btn btn-gbz-success add_new_speci_button"
											href="javascript:void(0)">Add New</a>
									</div>
								</div>
							</div>
							<div class="product_speci_inner">
								<div class="add_new_speci">
									<div class="dsh_single_speci">
										<div class="form-group">
											<input type="text" name="specificationTitle2"
												placeholder="Specification Title" class="form-control mb-1" />
											<textarea name="specificationDescription2"
												placeholder="Specification Description" id="" cols="30" rows="2"
												class="form-control"></textarea>
										</div>
									</div>
								</div>
								<div class="dsh_single_speci">
									<div class="form-group">
										<input type="text" name="specificationTitle" placeholder="Specification Title"
											class="form-control mb-1" />
										<textarea name="specificationDescription"
											placeholder="Specification Description" id="" cols="30" rows="2"
											class="form-control"></textarea>
									</div>
								</div>
							</div>
						</div>

						<hr class="my-4" />

						<div class="boxes_wrapper">
							<div class="row">
								<div class="col-md-6">
									<div class="single_box">
										<h4>Set Price & Delivery</h4>
										<div class="box_inner">
											<div class="form-group">
												<label for="">Price:</label>
												<div class="dollar_input">
													<input type="number" name="price" class="form-control" />
													<i class="fa fa-usd" aria-hidden="true"></i>
												</div>
											</div>
											<div class="form-group mb-0">
												<label for="">Delivery Time:</label>
												<select name="time" class="form-control" id="">
													<option>1 Day</option>
													<option>2 Days</option>
													<option>3 Days</option>
													<option>4 Days</option>
													<option>5 Days</option>
													<option>6 Days</option>
													<option>7 Days</option>
													<option>8 Days</option>
													<option>9 Days</option>
													<option>10 Days</option>
													<option>11 Days</option>
													<option>12 Days</option>
													<option>13 Days</option>
													<option>14 Days</option>
													<option>15 Days</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="single_box">
										<h4>Others</h4>
										<div class="box_inner">
											<div class="form-group mb-0">
												<label for="">Delivery Charge:</label>
												<input type="number" name="deliveryCharge" class="form-control" />
											</div>
											<div class="form-group">
												<label for="">Return:</label>
												<input type="number" name="returnTime" class="form-control" />
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="single_box">
										<h4>Tags</h4>
										<div class="box_inner">
											<div class="form">
												<div class="form-row">
													<div class="form-group col-9">
														<input type="text" name="tags"
															placeholder="Type Tags and Click Add"
															class="form-control" />
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="single_box">
										<h4>More Info For Delivery</h4>
										<div class="box_inner">
											<div class="form-group mb-0">
												<input type="text" name="deliveryInfo" class="form-control" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="save_button text-right">
							<button type="submit" class="btn btn-gbz-success">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Create New Products Modal Ends Here -->



<!-- Edit Products Modal Starts From Here -->
<% for (var i = 0; i < product.length; i++) { %>
<div class="modal dash_sp_modal dashboard_wrap fade" id="<%= alph[i] %>">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Edit Poducts</h3>
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"
						aria-hidden="true"></i></button>
			</div>
			<div class="modal-body">
				<form action="/products/<%= product[i].id %>?_method=PUT" method="POST" enctype="multipart/form-data">
					<div class="form">
						<div class="form-row">
							<div class="form-group col-md-12">
								<input type="text" name="title" value="<%= product[i].title %>" class="form-control"
									placeholder="Enter Product Title" />
							</div>
						</div>
						<div class="single_upload">
							<div class="upload_header">
								<h5>Upload Product Related Photos/Videos <small>(Max: 10 Items)</small></h5>
							</div>
							<div class="upload_area">
								<div class="form-group mb-2">
									<input type="file" name="images" id="file-2" class="inputfile inputfile-1"
										data-multiple-caption="{count} files selected" multiple />
									<label for="file-2">
										<div class="upload_fils">
											<div class="icon">
												<i class="fa fa-cloud-upload" aria-hidden="true"></i>
											</div>
											<h5>Drag & Drop a Photos Here <br /> or <br /> Click to Upload</h5>
										</div>
									</label>
								</div>
							</div>
						</div>
						<div class="uploaded_sp_photo">
							<% for (var x = 0; x < product[i].images.length; x++) { %>
							<div class="single_uploaded_port">
								<img src="<%= product[i].images[x].url %>" class="img-fluid" alt="" />
								<div class="overlay">

								</div>
								<div class="action_button">
									<input type="checkbox" name="deleteImages[]"
										value="<%= product[i].images[x].public_id %>">
								</div>
							</div>
							<% } %>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<select name="service" id="service2" class="form-control" required>
									<option value="" selected disabled hidden>--Select Service--</option>
									<option>Outdoor Work</option>
									<option>Indoor Work</option>
									<option>Vehicle Services</option>
									<option>Other Services</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<select name="category" id="category2" class="form-control" required>
									<option value="" selected disabled hidden>--Select Service Category--</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<textarea name="description" placeholder="Write a Description..." id="myText2" cols="30"
								rows="10" class="form-control"><%= product[i].description %></textarea>
							<div class="form-text text-right">
								<span id="wordCount2"><%= product[i].description.length %></span>/<span>1200</span>
							</div>
						</div>

						<div class="product_speci_dash">
							<div class="header">
								<div class="row">
									<div class="col-9">
										<h4>Set The Product Specifications:</h4>
									</div>
									<div class="col-3 text-right">
										<a class="btn btn-gbz-success add_new_speci_button"
											href="javascript:void(0)">Add New</a>
									</div>
								</div>
							</div>

							<div class="add_new_speci">
								<div class="dsh_single_speci">
									<div class="form-group">
										<input type="text" name="specificationTitle2"
											value="<%= product[i].specificationTitle2 %>"
											placeholder="Specification Title" class="form-control mb-1" />
										<textarea name="specificationDescription2"
											placeholder="Specification Description" id="" cols="30" rows="2"
											class="form-control"><%= product[i].specificationDescription2 %></textarea>
									</div>
								</div>
							</div>

							<div class="dsh_single_speci">
								<div class="form-group mb-0">
									<input type="text" name="specificationTitle"
										value="<%= product[i].specificationTitle %>" placeholder="Specification Title"
										class="form-control mb-1" />
									<textarea name="specificationDescription" placeholder="Specification Description"
										id="" cols="30" rows="2"
										class="form-control"><%= product[i].specificationDescription %></textarea>
								</div>
							</div>
						</div>

						<hr class="my-4" />

						<div class="boxes_wrapper">
							<div class="row">
								<div class="col-md-6">
									<div class="single_box">
										<h4>Set Price & Delivery</h4>
										<div class="box_inner">
											<div class="form-group">
												<label>Price:</label>
												<div class="dollar_input">
													<input type="number" name="price" value="<%= product[i].price %>"
														class="form-control" />
													<i class="fa fa-usd" aria-hidden="true"></i>
												</div>
											</div>
											<div class="form-group mb-0">
												<label>Delivery Time:</label>
												<select name="time" class="form-control" id="" required>
													<option>1 Day</option>
													<option>2 Days</option>
													<option>3 Days</option>
													<option>4 Days</option>
													<option>5 Days</option>
													<option>6 Days</option>
													<option>7 Days</option>
													<option>8 Days</option>
													<option>9 Days</option>
													<option>10 Days</option>
													<option>11 Days</option>
													<option>12 Days</option>
													<option>13 Days</option>
													<option>14 Days</option>
													<option>15 Days</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="single_box">
										<h4>Others</h4>
										<div class="box_inner">
											<div class="form-group mb-0">
												<label for="">Delivery Charge:</label>
												<input type="number" name="deliveryCharge" class="form-control"
													value="<%= product[i].deliveryCharge %>" />
											</div>
											<div class="form-group">
												<label for="">Return:</label>
												<input type="number" name="returnTime" class="form-control"
													value="<%= product[i].returnTime %>" />
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="single_box">
										<h4>Tags</h4>
										<div class="box_inner">
											<div class="form">
												<div class="form-row">
													<div class="form-group col-9">
														<input type="text" name="tags"
															placeholder="Type Tags and Click Add"
															value="<%= product[i].tags %>" class="form-control" />
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="single_box">
										<h4>More Info For Delivery</h4>
										<div class="box_inner">
											<div class="form-group mb-0">
												<input type="text" name="deliveryInfo"
													value="<%= product[i].deliveryInfo %>" class="form-control" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="save_button text-right">
							<button type="submit" class="btn btn-gbz-success">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<% } %>
<!-- Edit Products Modal Ends Here -->

<!-- Delete Products Modal Starts From Here -->
<% for (var i = 0; i < product.length; i++) { %>
<div class="modal dash_sp_modal dashboard_wrap fade" id="<%= alpha[i] %>">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Delete Your Product</h3>
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"
						aria-hidden="true"></i></button>
			</div>
			<div class="modal-body">
				<form action="/products/<%= product[i].id %>?_method=DELETE" method="POST"
					enctype="multipart/form-data">
					<div class="form">

						<div class="form-group">
							<h2>Are You sure you want to delete this product?</h2>
						</div>

						<div class="save_button text-right">
							<button type="submit" class="btn btn-danger">Delete</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<% } %>
<!-- Delete Products Modal Ends Here -->