<% layout('layouts/settingsBoilerplate') -%>


<div class="profile_setting_wrap">
    <div class="container-fluid">
        <div class="row">
            <!-- Left Menu Starts From Here -->
            <div class="col-md-3">
                <nav class="navbar navbar-expand-lg">
                    <div class="ps_left_menu border collapse navbar-collapse h-100" id="responsive-bar">
                        <ul class="list-group list-group-flush list-group-sidemenu">
                            <li class="list-group-item"><a href="/company-settings/account">Account</a></li>
                            <li class="list-group-item"><a href="/company-settings/security">Security</a></li>
                            <li class="list-group-item"><a href="/company-settings/notifications">Emails &
                                    Notifications</a></li>
                            <% if(currentUser.isCompany) { %>
                            <li class="list-group-item"><a href="/company-settings/billing">Billing</a></li>
                            <li class="list-group-item"><a href="/company-settings/payment">Payment & Financial</a></li>
                            <% } else { %>
                            <li class="list-group-item active"><a href="javascript:void(0)">Profile</a>
                                <% } %>
                            <li class="list-group-item"><a href="/company-settings/trust-verification">Trust &
                                    Verification</a>
                            </li>
                            <!-- <li class="list-group-item"><a href="/company-settings/company-info">Company Info Box</a>
							</li> -->
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- Left Menu Ends Here -->

            <div class="col-md-9 profile_setting">
                <form action="/profile?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="profile_setting_wrapper notifications">
                        <div class="profile_header">
                            <h1>Profile Details</h1>
                        </div>
                        <div class="single_notify">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group mb-0">
                                        <div class="upload_profile_pic">
                                            <a href="javascript:void(0)"><img id="blah" src="../images/man.png"
                                                    class="img-fluid" alt="" /></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single_upload">
                                        <div class="upload_header">
                                            <h5>Change Profile Picture</h5>
                                        </div>
                                        <div class="upload_area">
                                            <div class="form-group">
                                                <input type="file" name="profilePicture" id="file-1"
                                                    class="inputfile inputfile-1" accept="image/*" />
                                                <label for="file-1">
                                                    <div class="upload_fils">
                                                        <div class="icon">
                                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                                        </div>
                                                        <h5>Drag & Drop a Files Here <br /> or <br /> Click to Upload
                                                        </h5>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="single_box" style=" min-height:100%;">
                                        <div class="d-flex justify-content-center"
                                            style=" padding:5px 0px; width: auto; margin-top: -20px;">
                                            <h5 class="text-center">About Me</h5>
                                        </div>
                                        <div class="d-flex justify-content-center form-group" style="width: inherit;">
                                            <textarea name="about" id="myText" cols="45" rows="8"
                                                placeholder="Write a Short Description..."
                                                maxlength="600"><%= currentUser.about %></textarea>
                                        </div>
                                        <% if (currentUser.about.length) { %>
                                        <div class="form-text text-right">
                                            <span id="wordCount"><%= currentUser.about.length %></span>/<span>600</span>
                                        </div>
                                        <% } else { %>
                                        <div class="form-text text-right">
                                            <span id="wordCount">0</span>/<span>600</span>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_notify">
                            <h4>Full Name:</h4>
                            <div class="form">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="">First Name*</label>
                                        <input type="text" name="firstName" placeholder=""
                                            value="<%= currentUser.firstName %>" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="">Last Name*</label>
                                        <input type="text" name="lastName" value="<%= currentUser.lastName %>"
                                            class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single_notify">
                            <h4>Address:</h4>
                            <div class="form">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="">Address*</label>
                                        <input type="text" name="location" value="<%= currentUser.location %>"
                                            class="form-control" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="">City:</label>
                                        <input type="text" name="city" placeholder="Ex: Chicago"
                                            value="<%= currentUser.city %>" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>State/Province/Region:</label>
                                        <input type="text" name="state" placeholder="Ex: Illinois"
                                            value="<%= currentUser.state %>" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="">ZIP Code:</label>
                                        <input type="text" name="zipCode" placeholder="Ex: 54004"
                                            value="<%= currentUser.zipCode %>" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="">Country*</label>
                                        <select name="country" id="" class="form-control mb-2">
                                            <option>United States</option>
                                            <option>Australia</option>
                                            <option>France</option>
                                            <option>Italy</option>
                                            <option>Others</option>
                                        </select>
                                        <h6>In order to change your country, we require you to verify your identity.
                                            This is so we can
                                            verify your address details. The country will be automatically updated once
                                            the process is complete.</h6>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Phone Number:</label>
                                        <input type="tel" name="phoneNumber" placeholder="Ex: +1 (222)444-5566"
                                            value="<%= currentUser.phoneNumber %>" class="form-control" id="phone" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single_notify pb-0">
                            <div class="col-md-6">
                                <div class="social_add">
                                    <h3>Add Social Media</h3>
                                    <div class="social_inner">
                                        <div class="form-group">
                                            <div class="dollar_input">
                                                <input type="url" placeholder="Enter Your Facebook URL"
                                                    class="form-control" name="facebookUrl"
                                                    value="<%= currentUser.facebookUrl %>" />
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="dollar_input">
                                                <input type="url" placeholder="Enter Your Twitter URL"
                                                    class="form-control" name="twitterUrl"
                                                    value="<%= currentUser.twitterUrl %>" />
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="dollar_input">
                                                <input type="url" placeholder="Enter Your Instagram URL"
                                                    class="form-control" name="instagramUrl"
                                                    value="<%= currentUser.instagramUrl %>" />
                                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="dollar_input">
                                                <input type="url" placeholder="Enter Your LinkedIn URL"
                                                    class="form-control" name="linkedinUrl"
                                                    value="<%= currentUser.linkedinUrl %>" />
                                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="save_button">
                                <button class="btn" type="submit">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>